.registerForm{
    border-radius: 12px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
    text-align: center;
  
}

  input[type=text] {
    width: 70%;
     padding: 10px 10px;
    
     box-sizing: border-box;
     border: 2px solid whitesmoke;
     border-radius: 4px;
   }
   input[type=password] {
    width: 70%;
     padding: 10px 10px;
     border: 2px solid whitesmoke;
     border-radius: 4px;
     box-sizing: border-box;
   }
   input[type=number] {
    width: 70%;
    padding: 10px 10px;
    border: 2px solid whitesmoke;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=email] {
    width: 70%;  
    color : white; 
    padding: 10px 10px;
    border: 2px solid whitesmoke;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .button{
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;  
  }
   